remote_theme: "mmistakes/minimal-mistakes@4.19.1"
readme_index:
  enabled: false
plugins:
  - jekyll-include-cache
  - jekyll-sitemap
  - jekyll-feed

# some variables for easier writing
forum: "https://www.gibberlings3.net/forums/forum/91-gemrb/"
discord: "https://discord.gg/64rEVAk"
irc: "http://webchat.freenode.net/?channels=GemRB"
contribute: "https://github.com/gemrb/gemrb/blob/master/CONTRIBUTING.md"

# https://mmistakes.github.io/minimal-mistakes/docs/configuration/
minimal_mistakes_skin: "sunrise"
title: "GemRB homepage"
masthead_title: "GemRB"
subtitle: "Infinity Engine redone"
description: "Home of GemRB, a portable open-source implementation of Bioware's Infinity Engine"
url: "https://gemrb.github.io"
repository: "gemrb/gemrb.github.io"
logo: "/assets/img/site/logo.png"
# 120x120px minimum
og_image: "/assets/img/site/main-header.jpg"
timezone: Europe/Ljubljana

footer:
  links:
    - label: "Forum"
      icon: "fab fa-fw fa-optin-monster"
      url: "https://www.gibberlings3.net/forums/forum/91-gemrb/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/gemrb"
    - label: "Edit this page"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/gemrb/gemrb.github.io/"

defaults:
  - scope:
      path: ""
    values:
      layout: single
      toc_sticky: true
  - scope:
      path: "GUIScript/functions"
    values:
      layout: gs-function
      classes: wide
  - scope:
      path: ""
      type: posts
    values:
      classes: wide

search: true
search_provider: algolia
exclude: [vendor]
algolia:
  application_id: "QZAOH9F6TU"
  index_name: "gemrb"
  search_only_api_key: "d911af5d43b7176a93a7cba240d380b2"
